USE [CLINICA_SAN_JUAN]
GO
/****** Object:  Table [dbo].[CARROS]    Script Date: 14/12/2024 22:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARROS](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelo] [varchar](50) NOT NULL,
	[anio] [int] NOT NULL,
	[color] [varchar](20) NULL,
	[precio] [decimal](10, 2) NULL,
	[disponible] [bit] NULL,
	[marca_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 14/12/2024 22:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CARROS] ADD  DEFAULT ((1)) FOR [disponible]
GO
ALTER TABLE [dbo].[CARROS]  WITH CHECK ADD  CONSTRAINT [FK_MARCA] FOREIGN KEY([marca_id])
REFERENCES [dbo].[MARCA] ([id])
GO
ALTER TABLE [dbo].[CARROS] CHECK CONSTRAINT [FK_MARCA]
GO
